.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.aws-btn {

  --slider-height-percentage: 26%;
  --slider-transition-duration: 200ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #519c97;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 5px;
  }

  .contactoMenu{
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .card{
    margin: 1rem;
  }

  .cards{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }

  .ayuda{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }
  
  .tabs{
    margin-top: 2em;
  }

  .lista{
    
  }

  .footer{
    margin-top: 4em;
  }

  .titulo{
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
  }

  .aws-btn {

    --slider-height-percentage: 30%;
    --slider-transition-duration: 503ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #26456f;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #26456f;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    }

    a{
      text-decoration: none;
    }

    .carrousel{
      height: 20em;
      
    }
    
    .seleccionado{
      background-color:  black;
      color: white;
    }

    .map{
      width: 35em;
      height: 35em;
      margin: 0;
    }

    .mapdiv{
      width: 35em;
      height: 35em;
      margin: 0;
    }

    .mapdiv path{
      fill: rgb(214, 214, 214);
      stroke: rgb(68, 68, 68);
      stroke-width: 2px;
      transition: fill 0.3s;
    }

    .mapdiv path.pacifico{
      fill: rgb(248, 218, 50);
      stroke: rgb(68, 68, 68);
      stroke-width: 3px;
      transition: fill 0.3s;
    }

    .mapdiv path.pacifico:hover{
      fill: rgb(255, 130, 13);
      stroke: rgb(0, 0, 0);
    }



